.Content {
    margin-top: 60px;
}


.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
}

@media (min-width: 500px) and (min-height: 400px){
    .Burger {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px){
    .Burger {
        width: 450px;
        height: 400px;
    }
}


@media (min-width: 1000px) and (min-height: 700px){
    .Burger {
        width: 500px;
        height: 600px;
    }
}

.BuildControls {
    width: 100%;
    background-color: #F77F9B;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
    color: white;
}

.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #fb95ae;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #aca7a6;
    border: 1px solid #aca7a6;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #aca7a6;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {
    background-color: #FBA9BC;
    color: white;
}

.BuildControl .More {
    background-color: #520027;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {
    background-color: #fbbec5;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #36001b;
    color: white;
}


.OrderButton {
    background-color: #A1EFD5;
    outline: none;
    cursor: pointer;
    border: 1px solid #2DAD83;
    color: #2DAD83;
    font-family: inherit;
    font-size: 1.2em;
    padding: 7px 30px;
    box-shadow: 2px 2px 2px #2DAD83;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #D7FBEF;
    border: 1px solid #2DAD83;
    color: #2DAD83;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #888888;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
}

.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.Success {
    outline: none;
    cursor: pointer;
    border: 1px solid #3e764e;
    color: #5C9210;
    background-color: #d2eac9;
    font-family: inherit;
    font-size: 1.2em;
    padding: 7px 30px;
    box-shadow: 2px 2px 2px #966909;
}
.Success:hover, .Success:active {
    background-color: #adeaaf;
    border: 1px solid #5C9210;
    color: #529200;
}

.Danger {
    outline: none;
    cursor: pointer;
    border: 1px solid #b8757c;
    color: #92331f;
    background-color: #ebcece;
    font-family: inherit;
    font-size: 1.2em;
    padding: 7px 30px;
    box-shadow: 2px 2px 2px #966909;
}

.Danger:hover, .Danger:active {
    background-color: #ebb5b9;
    border: 1px solid #92331f;
    color: #92331f;
}