.ToolBar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F77F9B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.ToolBar nav {
    height: 100%;
}


.NavItems {
    padding: 0;
    list-style: none;
    height: 100%;
}

.Item {
    display: flex;
    height: 100%;
}

.Item a {
    text-decoration: none;
    padding: 16px 15px;
    display: block;
    color: white;
}

.Item a:hover {
    border-bottom: 3px solid #2DAD83;
}

.SideDrawer {
    position: fixed;
    width: 60%;
    max-width: 300px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #36001b;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

/*sidedraw just appear in mobile devices
@media (min-width: 500px) {
    .SideDrawer{
        display: none;
    }
}
*/

.Open {
    transform: translateX(0);
}

.Close {
    transform:  translateX(-100%);
}

i {
    color: white;
}

i:hover {
    color: #2DAD83;
    cursor: pointer;
}